page {
	font-size: 28rpx;
	background-color: #f9f9f8;
  font-family: 'YouEr';
}

.c-my-pink{color:rgba(247,145,164,1)}
.c-my-pink-500{color:rgba(247,145,164,0.5)}
.c-my-orange{color:rgba(254,178,66,1)}
.c-my-orange-500{color:rgba(254,178,66,0.5)}
.c-my-green{color:rgba(152,209,75,1)}
.c-my-green-500{color:rgba(152,209,75,0.5)}
.c-my-blue{color:rgba(102,213,253,1)}
.c-my-blue-500{color:rgba(102,213,253,0.5)}
.c-my-purple{color:rgba(144,148,251,1)}
.c-my-purple-500{color:rgba(144,148,251,0.5)}

.bg-my-pink{background-color:rgba(247,145,164,1)}
.bg-my-pink-500{background-color:rgba(247,145,164,0.5)}
.bg-my-orange{background-color:rgba(254,178,66,1)}
.bg-my-orange-500{background-color:rgba(254,178,66,0.5)}
.bg-my-green{background-color:rgba(152,209,75,1)}
.bg-my-green-500{background-color:rgba(152,209,75,0.5)}
.bg-my-blue{background-color:rgba(102,213,253,1)}
.bg-my-blue-500{background-color:rgba(102,213,253,0.5)}
.bg-my-purple{background-color:rgba(144,148,251,1)}
.bg-my-purple-500{background-color:rgba(144,148,251,0.5)}
